@font-face {
font-family: 'Outfit-Bold';
src: url("../fonts/Outfit/static/Outfit-Bold.ttf")
}

@font-face {
    font-family: 'Outfit-Thin';
    src: url("../fonts/Outfit/static/Outfit-Thin.ttf")
    }

    *{
        font-family:'Outfit-Thin';
        font-size: 15px;
        font-weight: 700;
        background-color:   hsl(0, 0%, 100%);
        text-align: center;
    }  



body{

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
background-color: Grayish hsl(218, 5%, 59%);
}

img {
    
    width: 250px; height: 250px; 
    border-radius: 10px;
    }

 

#p_card_info_1 {
    font-family:'Outfit-Bold';
    font-size: 20px;
    font-weight: 400;

}

#p_card_info_2{
color: Grayish hsl(218, 5%, 59%);
}

.container{

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
background-color:   hsl(212, 45%, 89%);
position: absolute;
width: 95%;
height: 95%;



}

.card{
    background-color:   hsl(0, 0%, 100%);
    width: 280px; 
    margin: auto;
    border-radius: 10px;
    text-align: center;
    
    
}

.card_img{
    margin-block-start: 15px;
     justify-content: center;
     
}
.card_info{
    justify-content: center;
    
    
}

